version: '2'
services:
  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./conf/nginx:/etc/nginx/conf.d

  redis-server:
    image: "redis:alpine"
    ports:
      - "6379:6379"
    volumes:
      - ./conf/redis:/etc/redis/redis.conf

  # elasticsearch:
  #   image: docker.elastic.co/elasticsearch/elasticsearch:5.6.8
  #   container_name: es
  #   environment:
  #     - cluster.name=docker-cluster
  #     - bootstrap.memory_lock=true
  #     - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
  #     - xpack.security.enabled=false
  #   ulimits:
  #     memlock:
  #       soft: -1
  #       hard: -1
  #   mem_limit: 1g
  #   ports:
  #     - 9200:9200
