@import '~assets/variables.scss';
@import '~assets/mixins.scss';

.nav {
  position: relative;
  display: flex;
  font-size: 20px;

  li {
    font-family: 'Ropa Sans', sans-serif;
    margin-left: 15px;
    color: white;
  }

  li:hover {
    @include reg-transition-no-delay(color, 0.2s, ease-out)
  }
}

.nav-bar.color .nav li {
  color: #666;
}

.nav-bar {
  color: white;
  background-color: transparent;
  box-shadow: 0;
  font-weight: 400;
  z-index: 99;
  display: flex;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  height: 60px;
  content: " ";
  position: absolute;

  & > div {
    height: 60px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .logo {
      font-family: 'Ropa Sans', sans-serif;
      font-size: 28px;
      cursor: pointer;
      color: white;
      @include reg-transition-no-delay(color, 0.5s, ease-in-out)
    }

    .logo:hover {
      color: #FFA000;
    }
  }

  li {
    cursor: pointer;
    font-size: 18px;

    &:hover {
      color: #FFA000;
    }

    &.active-links {
      color: black;
      cursor: initial;
      @include reg-transition-no-delay(color, 0.5s, ease-in-out)
      &:hover {
        color: black;
      }
    }
  }

  .collapsed-icon {
    cursor: pointer;
    font-size: 24px;
    transition: color 0.5s;

    &:hover {
      color: #FFA000;
    }
  }

  .sliding-menu {
    font-family: 'Ropa Sans', sans-serif;
    position: absolute;
  }

  &.color {
    box-shadow: inset 0px 4px 8px -3px rgba(17, 17, 17, .16);
    background-color: white;
    color: #c0c0c0;

    & > div {
      .logo {
        color: #666666;
      }
    }

    li {
      cursor: pointer;
      font-size: 18px;

      &:hover {
        color: #FFA000;
      }

      &.active-links {
        color: black;
        cursor: initial;
        @include reg-transition-no-delay(color, 0.5s, ease-in-out)
        &:hover {
          color: black;
        }
      }
    }

    &:after {
      content: " ";
      position: absolute;
      bottom: -5px;
      width: 100%;
      height: 5px;
      left: 0;
      box-shadow: inset 0px 4px 8px -3px rgba(17, 17, 17, .16);
    }
  }

  .club-search-autocomplete {
    display: flex;
    justify-content: center;
    flex: 1;
    margin: 0 20px;
    /*max-width: 80px;*/

    svg {
      position: relative;
      color: #555;
      margin-right: 5px;
      font-size: 20px;
      top: 1px;
    }

    &--input {
      display: flex;
      max-width: 200px;
      border: 1px solid #e0e0e0;
      border-radius: 2px;
      padding: 6px 12px;
      align-items: center;
    }

    input {
      background: transparent;
      width: 100%;
      border: 0;
      outline: none;
      border-radius: 3px;
      color: #555;
      font-size: 14px;

      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: rgba(0, 0, 0, 0.3);
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: rgba(0, 0, 0, 0.3);
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: rgba(0, 0, 0, 0.3);
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: rgba(0, 0, 0, 0.3);
      }
    }

    .suggestions {
      top: calc(100% + 5px);
      z-index: 5;
      padding: 10px 0;
      width: 200px;

      li {
        font-size: 13px;
        padding: 5px 10px;

        div:first-child {
          font-size: 14px;
          margin-bottom: 3px;
        }
      }
    }
  }

  &.no-color {
    .club-search-autocomplete {
      svg {
        color: #eee;
      }
      input {
        background: transparent;
        color: #eee;

        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: #eee;
        }
        &::-moz-placeholder { /* Firefox 19+ */
          color: #eee;
        }
        &:-ms-input-placeholder { /* IE 10+ */
          color: #eee;
        }
        &:-moz-placeholder { /* Firefox 18- */
          color: #eee;
        }
      }
    }
  }
}
