.club-information-container {
  margin: 0 auto;
  padding: 20px;
  margin-top: 80px;
  width: 80%;
  max-width: 680px;

  &--columns {
    display: flex;
    flex-flow: row wrap;
  }

  &--body {
    margin-top: 20px;

    h1 {
      font-size: 30px;
      margin-bottom: 25px;
    }
  }

  &--row {
    padding: 6px 0;
    display: flex;
    align-items: center;

    svg {
      font-size: 18px;
      margin-right: 5px;
    }
  }

  &--hours {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;

    > div:first-child {
      margin-right: 20px;
    }
  }

  &--note {
    display: flex;
    padding: 10px 0;
    font-size: 16px;
  }

  &--note-type {
    flex-shrink: 0;
    text-transform: capitalize;
    font-weight: 500;
    margin-right: 10px;
    width: 200px;
  }

  &--note-value {
    font-family: 'Roboto', sans-serif;
  }

  #map {
    width: 100%;
    height: 230px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 470px) {
  .club-information-container {
    margin-top: 60px;
    width: 100%;
  }
}

@media only screen and (max-width: 670px) {
  .club-information-container {
    margin-top: 60px;
    width: 95%;
  }
}
