@import '~assets/mixins.scss';

.email-input-container {
  width: 100%;
  position: relative;

  .tooltip {
    @include tooltip-mixin;
  }

  svg {
    height: 1.5em;
    width: 1.5em;
    position: absolute;
    right: 5px;
    bottom: 15px;

    &:hover ~ .tooltip {
      display: block;
    }
  }
}
