@import '~assets/mixins.scss';

.email-input-container {
  width: 100%;
  position: relative;

  .tooltip {
    @include tooltip-mixin;
  }

  svg {
    height: 1.5em;
    width: 1.5em;
    position: absolute;
    right: 5px;
    bottom: 15px;

    &:hover ~ .tooltip {
      display: block;
    }
  }
}

.contact-info-container {
  &--title {
    font-weight: 500;
    font-size: 18px;
    display: flex;
    align-items: center;

    svg {
      margin-right: 5px;
    }
  }

  &--info {
    padding: 15px 0;
  }

  #contact-info-form {
    margin: 0;
    padding: 0;
  }

  &--note {
    margin: 20px 0;
    padding-bottom: 5px;
  }

  &--note-title {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 5px;
  }

  &--note-buttons {
    margin-left: 5px;
  }

  &--note-error {
    position: absolute;
    top: calc(100% + 4px);
    font-size: 13px;
    color: red;
    left: 0;
  }

  &--note-input {
    position: relative;
    padding-top: 5px;

    &:not(.editing) {
      white-space: pre-wrap;
      word-break: break-all;
    }

    &.editing {
      padding: 10px;
      border: 1px solid #e0e0e0;

      &.error {
        border-color: red;
        color: red;
      }
    }

    &.error textarea {
      color: red;
    }

    textarea {
      width: 100%;
      height: 100%;
      resize: none;
      border: 0;
      border-radius: 2px;
      outline: 0;
    }

    span {
      position: absolute;
      bottom: 5px;
      right: 5px;
      font-size: 13px;
    }

    &.error {
      span {
        color: red;
      }
    }
  }
}
