@import '~assets/mixins.scss';

.player-query {
  /*border: 1px solid #E0E0E0;*/
  width: 80%;
  margin-top: 5%;
  margin-bottom: 5%;
  table {
    margin-bottom: 5%;
  }
  .big-container {
    margin: 0 auto;
  }
}

.player-result-main-container {
  padding: 20px;
}

.result-query-container {
  margin: 0 auto;
  width: 90%;
  padding-top: 100px;
  padding-bottom: 20px;
  height: 100%;

  > div {
    /*@include light-box-shadow;*/
    /*overflow: auto;*/

    > div:last-child {
      /*@include container-box-shadow;*/
    }
  }

  &.loading {
    cursor: progress;
  }
}

.name-select-div {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 20px;

  > *:first-child {
    margin-right: 20px;
  }

  hr {
    height: 1px;
  }
}

.club-info-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;

  > div {
    margin-top: 10px;
  }

  a {
    color: black;
    text-decoration: underline;

    &:hover {
      color: rgba(black, 0.7);
    }
  }
}

.club-result-top-container {
  display: flex;
  justify-content: space-between;
}

.club-result-container .club-result-body {
  .overlay {
    background-color: transparent;
  }
}

.club-query-section {
  min-width: 800px;
  padding: 30px 20px;
  margin-bottom: 10px;
  height: 100%;
  transition: height 0.3s ease-in-out;

  h2 {
    font-weight: 500;
    font-size: 20px;
    color: #555;
  }

  &--title {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .hint-text {
    margin-top: 20px;
    padding: 10px 0;
  }

  &.collapsed {
    height: 84px;
  }

  &--body.collapsed {
    display: none;
  }
}

.edit-aggregate-group-modal {
  @include light-box-shadow;
  width: 350px;
  padding: 40px 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 300;
  background-color: white;

  h3 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  &--inputs {
    margin: 10px 0;
  }
}

.aggregate-table-container {
  margin-top: 10px;
  position: relative;
  h3 {
    font-weight: 500;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
}

.aggregate-table {
  &--rating-change-col {
    &:hover .aggregate-table--tooltip {
      display: block;
    }
  }

  &--tooltip {
    z-index: 1000;
    display: none;
    position: absolute;
    padding: 20px;
    @include light-box-shadow;
    background-color: white;

    li {
      padding: 3px 0;
    }
  }
}
@media (max-width: 335px) and (max-device-width: 335px) {
  .name-select-div {
    display: flex;
    flex-direction: column;
  }
}
