version: '3'
services:
  web:
    image: web-app
    build: .
    network_mode: "host"
    ports:
      - "${APP_PORT}:${APP_PORT}"
    environment:
      - DB_USER=root
      - DB_PORT=3306
      - DB_PASSWORD=${DB_PASSWORD}
      - DB=matchpoints
      - DOMAIN=${DOMAIN}
      - APP_HOST=${APP_HOST}
      - APP_PORT=${APP_PORT}
      - NODE_ENV=${NODE_ENV}
      - HOST=${HOST}
      - REDIS_HOST=${REDIS_HOST}
      - WEB_HOST=${WEB_HOST}
      - WEBSOCKET_SERVER=${WEBSOCKET_SERVER}
      - EMAIL_USER=matchpoints.noreply@gmail.com
      - EMAIL_PASS=Lalala4321.
      - GOOGLE_SEARCH_API_KEY=${GOOGLE_SEARCH_API_KEY}
      - GEOCODE_API_KEY=${GEOCODE_API_KEY}

